n8n/WF-1_slack-to-c1.json
{
  "name": "WF-1: Slack to C1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook: Slack Events",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Slack event body and handle URL verification challenge\nconst body = $input.first().json.body;\nconst headers = $input.first().json.headers;\n\n// URL verification handshake (Slack sends this on initial setup)\nif (body.type === 'url_verification') {\n  return [{ json: { _type: 'challenge', challenge: body.challenge } }];\n}\n\n// Only process message events in channels\nconst event = body.event;\nif (!event) return [{ json: { _type: 'ignored' } }];\nif (event.type !== 'app_mention') return [{ json: { _type: 'ignored' } }]; // only handle @mentions, not duplicate message events\nif (event.bot_id || event.subtype) return [{ json: { _type: 'ignored' } }]; // ignore bot messages\n\nreturn [{\n  json: {\n    _type: 'message',\n    text: event.text || '',\n    user_id: event.user,\n    channel: event.channel,\n    ts: event.ts,\n    team_id: body.team_id\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Parse Slack Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-challenge",
              "leftValue": "={{ $json._type }}",
              "rightValue": "challenge",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Is Challenge?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.challenge }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Respond: Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-message",
              "leftValue": "={{ $json._type }}",
              "rightValue": "message",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Is Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "{{ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 256,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are an IT access request assistant for a company's internal Slack bot.\\n\\nA user has sent a message asking for access to something. Your job is to extract structured information from their message and return ONLY valid JSON — no explanation, no markdown, no preamble.\\n\\nExtract:\\n- \\\"intent\\\": \\\"access_request\\\" or \\\"not_access_request\\\"\\n- \\\"app\\\": application name as the user said it (string or null)\\n- \\\"role\\\": specific role or permission mentioned (string or null)\\n- \\\"duration\\\": how long they need access (string or null)\\n- \\\"justification\\\": their stated reason (string or null)\\n- \\\"urgency\\\": \\\"normal\\\" or \\\"urgent\\\" (urgent if they say ASAP, blocked, urgent, today, emergency)\\n\\nReturn ONLY the JSON object. Nothing else.\\n\\nUser message: {{ $json.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Claude: Extract Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response and fuzzy-match against catalog\nconst claudeRaw = $input.first().json.content[0].text;\nlet extracted;\ntry {\n  let raw = claudeRaw.trim();\n  if (raw.startsWith('```')) {\n    raw = raw.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  extracted = JSON.parse(raw);\n} catch(e) { return [{ json: { _type: 'no_match', reason: 'claude_parse_error', raw: claudeRaw } }]; }\n\nif (extracted.intent !== 'access_request' || !extracted.app) {\n  return [{ json: { _type: 'no_match', reason: 'not_access_request', extracted } }];\n}\n\n// Hardcoded catalog (synced from catalog/entitlements.json)\nconst catalog = [\n  {\n    app_id: '2CAfu61AAA3heEItnkkKHsLdSak',\n    entitlement_id: '3B8ghDszuxqUa0DnZcCvakCv5Em',\n    app_name: 'Okta Teams & Groups',\n    label: 'Team-IT-Pilot',\n    description: 'Member of the Team-IT-Pilot Okta group.',\n    risk: 'low',\n    aliases: ['team-it-pilot', 'team it pilot', 'it pilot', 'pilot'],\n    approver_note: 'Routes to the IT team owner for approval.'\n  }\n];\n\n// Fuzzy scoring\nconst appInput = (extracted.app || '').toLowerCase().trim();\nlet bestMatch = null, bestScore = 0;\n\nfor (const entry of catalog) {\n  let score = 0;\n  const label = entry.label.toLowerCase();\n  const name = entry.app_name.toLowerCase();\n\n  if (appInput === label || appInput === name) score += 10;\n  else if (label.includes(appInput) || appInput.includes(label)) score += 5;\n  else if (name.includes(appInput) || appInput.includes(name)) score += 4;\n\n  for (const alias of entry.aliases) {\n    if (appInput === alias) { score += 10; break; }\n    if (alias.includes(appInput) || appInput.includes(alias)) { score += 5; break; }\n  }\n\n  if (extracted.role) {\n    const role = extracted.role.toLowerCase();\n    if (entry.label.toLowerCase().includes(role)) score += 3;\n  }\n\n  if (score > bestScore) { bestScore = score; bestMatch = entry; }\n}\n\nif (!bestMatch || bestScore < 4) {\n  return [{ json: { _type: 'no_match', reason: 'no_catalog_match', extracted } }];\n}\n\n// Pull Slack context from earlier node\nconst slackCtx = $('Parse Slack Event').first().json;\n\nreturn [{\n  json: {\n    _type: 'match',\n    extracted,\n    match: bestMatch,\n    score: bestScore,\n    slack_user_id: slackCtx.user_id,\n    slack_channel: slackCtx.channel,\n    slack_ts: slackCtx.ts\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Catalog Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-match",
              "leftValue": "={{ $json._type }}",
              "rightValue": "match",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Match Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postEphemeral",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{SLACK_BOT_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.slack_channel }}\",\n  \"user\": \"{{ $json.slack_user_id }}\",\n  \"text\": \"Access request confirmation\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \"🔐 Access Request\" }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*App:*\\n{{ $json.match.app_name }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Role / Group:*\\n{{ $json.match.label }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Risk:*\\n{{ $json.match.risk }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Approver:*\\n{{ $json.match.approver_note }}\" }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"{{ $json.extracted.justification ? '*Your reason:* ' + $json.extracted.justification : '_No justification provided_' }}\" }\n    },\n    {\n      \"type\": \"actions\",\n      \"block_id\": \"confirm_block\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"✅ Confirm Request\" },\n          \"style\": \"primary\",\n          \"action_id\": \"confirm_request\",\n          \"value\": \"{{ $json.match.app_id + '|' + $json.match.entitlement_id + '|' + $json.match.label + '|' + $json.match.app_name + '|' + ($json.extracted.justification || '') }}\"\n        },\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"❌ Cancel\" },\n          \"action_id\": \"cancel_request\",\n          \"value\": \"cancel\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Post Confirmation Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postEphemeral",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{SLACK_BOT_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $('Catalog Match').first().json.slack_channel }}\",\n  \"user\": \"{{ $('Catalog Match').first().json.slack_user_id }}\",\n  \"text\": \"⚠️ I couldn't find *{{ $('Catalog Match').first().json.extracted.app }}* in the access catalog. A Jira ticket has been created for the IT team to review.\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "DM: No Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Respond: 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-interactions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000001",
      "name": "Webhook: Slack Interactions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 700]
    },
    {
      "parameters": {
        "jsCode": "// Slack interactions come as URL-encoded form with a 'payload' field\nconst body = $input.first().json.body;\nlet payload;\ntry {\n  const raw = typeof body === 'string' ? body : body.payload;\n  payload = JSON.parse(decodeURIComponent(raw));\n} catch(e) {\n  // body already parsed by n8n\n  payload = body.payload ? JSON.parse(body.payload) : body;\n}\n\nconst action = payload.actions && payload.actions[0];\nif (!action) return [{ json: { _type: 'no_action' } }];\n\nif (action.action_id === 'cancel_request') {\n  return [{ json: { _type: 'cancelled', user_id: payload.user.id, channel: payload.channel.id, response_url: payload.response_url } }];\n}\n\nif (action.action_id === 'confirm_request') {\n  const parts = (action.value || '').split('|');\n  const value = { app_id: parts[0], entitlement_id: parts[1], label: parts[2], app_name: parts[3], justification: parts[4] || '' };\n  return [{\n    json: {\n      _type: 'confirmed',\n      app_id: value.app_id,\n      entitlement_id: value.entitlement_id,\n      label: value.label,\n      app_name: value.app_name,\n      justification: value.justification,\n      slack_user_id: payload.user.id,\n      slack_user_email: payload.user.email || null,\n      slack_team_id: payload.team.id,\n      channel: payload.channel ? payload.channel.id : null,\n      response_url: payload.response_url\n    }\n  }];\n}\n\nreturn [{ json: { _type: 'unknown_action', action_id: action.action_id } }];\n"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Parse Interaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 700]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-confirmed",
              "leftValue": "={{ $json._type }}",
              "rightValue": "confirmed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000003",
      "name": "Is Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/users.info",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{SLACK_BOT_TOKEN}}" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "user", "value": "={{ $json.slack_user_id }}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000004",
      "name": "Get Slack User Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 620]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://system1-corp.conductor.one/auth/v1/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type", "value": "client_credentials" },
            { "name": "client_id", "value": "{{C1_CLIENT_ID}}" },
            { "name": "client_secret", "value": "{{C1_CLIENT_SECRET}}" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000005",
      "name": "Get C1 Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 780]
    },
    {
      "parameters": {
        "jsCode": "// Merge Slack user email + C1 token for next steps\nconst slackUser = $('Get Slack User Email').first().json;\nconst c1Token = $('Get C1 Token').first().json;\nconst interaction = $('Parse Interaction').first().json;\n\nconst email = slackUser.user && slackUser.user.profile && slackUser.user.profile.email;\nif (!email) throw new Error('Could not retrieve Slack user email. Ensure users:read.email scope is granted.');\n\nreturn [{\n  json: {\n    email,\n    c1_token: c1Token.access_token,\n    app_id: interaction.app_id,\n    entitlement_id: interaction.entitlement_id,\n    label: interaction.label,\n    app_name: interaction.app_name,\n    justification: interaction.justification,\n    slack_user_id: interaction.slack_user_id,\n    channel: interaction.channel,\n    response_url: interaction.response_url\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000006",
      "name": "Merge Email + Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://system1-corp.conductor.one/api/v1/search/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.c1_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"query\": \"{{ $json.email }}\" }",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000007",
      "name": "C1: Look Up User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 700]
    },
    {
      "parameters": {
        "jsCode": "// Extract C1 user ID from POST /api/v1/search/users response\nconst ctx = $('Merge Email + Token').first().json;\nconst targetEmail = (ctx.email || '').toLowerCase();\n\nconst users = $input.first().json.list || [];\nconst match = users.find(u => (u.user?.email || u.email || '').toLowerCase() === targetEmail);\nif (!match) throw new Error('C1 user not found for email: ' + targetEmail);\n\nconst c1UserId = match.user?.id || match.id;\nif (!c1UserId) throw new Error('C1 user record missing id field');\n\nreturn [{\n  json: {\n    c1_token: ctx.c1_token,\n    c1_user_id: c1UserId,\n    app_id: ctx.app_id,\n    entitlement_id: ctx.entitlement_id,\n    label: ctx.label,\n    app_name: ctx.app_name,\n    justification: ctx.justification,\n    slack_user_id: ctx.slack_user_id,\n    channel: ctx.channel,\n    response_url: ctx.response_url,\n    email: ctx.email\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000008",
      "name": "Extract C1 User ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://system1-corp.conductor.one/api/v1/task/grant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.c1_token }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"appId\": \"{{ $json.app_id }}\",\n  \"appEntitlementId\": \"{{ $json.entitlement_id }}\",\n  \"identityUserId\": \"{{ $json.c1_user_id }}\",\n  \"description\": \"{{ $json.justification || 'Access requested via IT Concierge Slack bot' }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000009",
      "name": "C1: Create Access Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 700]
    },
    {
      "parameters": {
        "jsCode": "// Extract C1 task ID and pass context through\nconst c1Resp = $input.first().json;\nconst ctx = $('Extract C1 User ID').first().json;\n\n// C1 task/grant returns { taskView: { task: { id, ... } } } or { task: { id } } or { id }\nconst taskId = c1Resp.taskView?.task?.id || c1Resp.task?.id || c1Resp.id || c1Resp.requestId || '(see C1 dashboard)';\n\nreturn [{\n  json: {\n    task_id: taskId,\n    slack_user_id: ctx.slack_user_id,\n    channel: ctx.channel,\n    label: ctx.label,\n    app_name: ctx.app_name,\n    response_url: ctx.response_url\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000010",
      "name": "Extract Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replace_original\": true,\n  \"text\": \"✅ Your access request for *{{ $json.label }}* ({{ $json.app_name }}) has been submitted to ConductorOne for approval.\\n\\n*Ticket:* <https://system1-corp.conductor.one/requests/{{ $json.task_id }}|Link to your request>\\n\\nYou'll receive a DM from the ConductorOne Slack app when your approver acts on it.\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000014",
      "name": "Update Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 560]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{SLACK_BOT_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $json.slack_user_id }}\",\n  \"text\": \"✅ Your access request for *{{ $json.label }}* ({{ $json.app_name }}) has been submitted to ConductorOne for approval.\\n\\n*Ticket:* <https://system1-corp.conductor.one/requests/{{ $json.task_id }}|Link to your request>\\n\\nYou'll receive a DM from the ConductorOne Slack app when your approver acts on it.\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000011",
      "name": "DM: Request Submitted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000012",
      "name": "Respond: Interaction 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000013",
      "name": "Respond: Cancelled 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 860]
    }
  ],
  "connections": {
    "Webhook: Slack Events": {
      "main": [[{ "node": "Parse Slack Event", "type": "main", "index": 0 }]]
    },
    "Parse Slack Event": {
      "main": [[{ "node": "Is Challenge?", "type": "main", "index": 0 }]]
    },
    "Is Challenge?": {
      "main": [
        [{ "node": "Respond: 200 OK", "type": "main", "index": 0 }],
        [{ "node": "Respond: Challenge", "type": "main", "index": 0 }]
      ]
    },
    "Respond: 200 OK": {
      "main": [[{ "node": "Is Message?", "type": "main", "index": 0 }]]
    },
    "Is Message?": {
      "main": [
        [{ "node": "Claude: Extract Intent", "type": "main", "index": 0 }],
        []
      ]
    },
    "Claude: Extract Intent": {
      "main": [[{ "node": "Catalog Match", "type": "main", "index": 0 }]]
    },
    "Catalog Match": {
      "main": [[{ "node": "Match Found?", "type": "main", "index": 0 }]]
    },
    "Match Found?": {
      "main": [
        [{ "node": "Post Confirmation Card", "type": "main", "index": 0 }],
        [{ "node": "DM: No Match", "type": "main", "index": 0 }]
      ]
    },
    "Webhook: Slack Interactions": {
      "main": [[{ "node": "Parse Interaction", "type": "main", "index": 0 }]]
    },
    "Parse Interaction": {
      "main": [[{ "node": "Is Confirmed?", "type": "main", "index": 0 }]]
    },
    "Is Confirmed?": {
      "main": [
        [{ "node": "Respond: Interaction 200", "type": "main", "index": 0 }],
        [{ "node": "Respond: Cancelled 200", "type": "main", "index": 0 }]
      ]
    },
    "Respond: Interaction 200": {
      "main": [[{ "node": "Get Slack User Email", "type": "main", "index": 0 }]]
    },
    "Get Slack User Email": {
      "main": [[{ "node": "Get C1 Token", "type": "main", "index": 0 }]]
    },
    "Get C1 Token": {
      "main": [[{ "node": "Merge Email + Token", "type": "main", "index": 0 }]]
    },
    "Merge Email + Token": {
      "main": [[{ "node": "C1: Look Up User", "type": "main", "index": 0 }]]
    },
    "C1: Look Up User": {
      "main": [[{ "node": "Extract C1 User ID", "type": "main", "index": 0 }]]
    },
    "Extract C1 User ID": {
      "main": [[{ "node": "C1: Create Access Request", "type": "main", "index": 0 }]]
    },
    "C1: Create Access Request": {
      "main": [[{ "node": "Extract Task ID", "type": "main", "index": 0 }]]
    },
    "Extract Task ID": {
      "main": [[{ "node": "Update Card", "type": "main", "index": 0 }]]
    },
    "Update Card": {
      "main": [[{ "node": "DM: Request Submitted", "type": "main", "index": 0 }]]
    },
    "DM: Request Submitted": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
